OPENAI_API_KEY="sk-None-*******"
TAVILY_API_KEY="tvly-dev-*******"
AZURE_OPENAI_API_KEY="*********"
AZURE_OPENAI_ENDPOINT="https://*******.openai.azure.com/"
AZURE_API_VERSION="2024-12-01-preview"
# AZURE_DEPLOYMENT="gpt-4.1"
AZURE_DEPLOYMENT = "o4-mini"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsv2_pt_*********"
LANGSMITH_PROJECT="mmllm-gui"
